<a href="https://colab.research.google.com/github/abhiraman/data_mining/blob/main/Pandas_Tuts/pd_exploration1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [32]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
df = pd.read_csv(url,sep= '\t')

In [33]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [ ]:
no_of_observation  = df.shape[0]
print(no_of_observation)

4622
4622

In [ ]:
print(len(df.columns))

5
5

In [ ]:
print(df.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [ ]:
print(df.index)

RangeIndex(start=0, stop=4622, step=1)
RangeIndex(start=0, stop=4622, step=1)

In [ ]:
new_df = df.groupby(by='item_name').count()['quantity']
maxQ = max(new_df)
print(new_df[new_df == maxQ].index[0])

Chicken Bowl
Chicken Bowl

In [ ]:
maxQ = max(new_df)
print(maxQ)

726
726

In [ ]:
choide_df = df.groupby(by= 'choice_description').count()
max_no = max(choide_df)
print(choide_df[choide_df==max_no].index[0])

[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]
[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]

In [ ]:
total_order = sum(df.groupby(by='item_name')['quantity'].sum())
print(total_order)

4972
4972

In [ ]:
df.item_price.dtype

dtype('O')

dtype('O')

In [34]:
to_float = lambda x:float(x[1:-1])

In [35]:
df.item_price = df.item_price.apply(to_float)
print(df.item_price.dtype)

float64

In [ ]:
maxx,minn = max(df.item_price),min(df.item_price)
def normalize(item,maxx,minn):
  return item/(maxx-minn)
df.item_price = df.item_price.apply(normalize,args=(maxx,minn))
print(df.item_price)

0       0.055375
1       0.078545
2       0.078545
3       0.055375
4       0.393420
          ...
4617    0.272243
4618    0.272243
4619    0.260658
4620    0.202734
4621    0.202734
Name: item_price, Length: 4622, dtype: float64
0       0.055375
1       0.078545
2       0.078545
3       0.055375
4       0.393420
          ...
4617    0.272243
4618    0.272243
4619    0.260658
4620    0.202734
4621    0.202734
Name: item_price, Length: 4622, dtype: float64

In [40]:
revenue = sum(df['quantity']*df['item_price'])
print(revenue)

39237.020000000055

In [43]:
len(df.order_id.unique())

1834

In [55]:
df['revenue'] = df['quantity'] * df['item_price']
order_grouped = df.groupby(by=['order_id']).sum()
order_grouped.head()
order_grouped.mean()['revenue']

21.394231188658654

In [51]:
len(df['item_name'].unique())

50